<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-lg-10 col-md-10 col-xm-10 row">
            <div class="ml-3 mr-4">Filtrar por: </div>
            <div class="dropdown mr-4">
                <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="disponivel">Disponível</span>
                    <span *ngIf="!disponivel">Indisponível</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" (click)="change(true, precoMedio, categoria)">
                        Disponível
                    </button>
                    <button class="dropdown-item" (click)="change(false, precoMedio, categoria)">
                        Indisponível
                    </button>
                </div>
            </div>
            <div class="dropdown mr-4">
                <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="!precoMedio">Preço</span>
                    <span *ngIf="precoMedio">{{ precoMedio | cifroes }}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" (click)="change(disponivel, 2, categoria)">$$</button>
                    <button class="dropdown-item" (click)="change(disponivel, 3, categoria)">$$$</button>
                    <button class="dropdown-item" (click)="change(disponivel, 4, categoria)">$$$$</button>
                    <button class="dropdown-item" (click)="change(disponivel, 5, categoria)">$$$$$</button>
                    <button class="dropdown-item" (click)="change(disponivel, 6, categoria)">$$$$$$</button>
                </div>
            </div>
            <div class="dropdown mr-4">
                <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="!categoria">Categorias</span>
                    <span *ngIf="categoria">{{ categoria }}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, null)">Todos</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Blusa')">Blusa</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Calça')">Calça</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Casaco')">Casaco</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Vestido')">Vestido</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Body')">Body</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Calçados')">Calçados</button>
                    <button class="dropdown-item" (click)="change(disponivel, precoMedio, 'Meias')">Meias</button>
                </div>
            </div>
        </div>

        <div class="col-xs-2 col-lg-2 col-md-2 col-xm-2 d-flex justify-content-end">
            <button class="btn btn-outline-light" (click)="doReset()">Limpar</button>
        </div>
    </div>
</div>
<hr />

<div class="container mb-4 mt-4">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">
            <h4>Resultados:</h4>
        </div>
    </div>
</div>