<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-lg-10 col-md-10 col-xm-10 row">
            Filtrar por:
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Disponível
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Disponível</a>
                    <a class="dropdown-item" href="#">Indisponível</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Preço
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">$$$</a>
                    <a class="dropdown-item" href="#">$$$$</a>
                    <a class="dropdown-item" href="#">$$$$$$</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Todos</a>
                    <a class="dropdown-item" href="#">Blusa</a>
                    <a class="dropdown-item" href="#">Calça</a>
                    <a class="dropdown-item" href="#">Casaco</a>
                    <a class="dropdown-item" href="#">Vestido</a>
                    <a class="dropdown-item" href="#">Body</a>
                    <a class="dropdown-item" href="#">Calçados</a>
                    <a class="dropdown-item" href="#">Meias</a>
                </div>
            </div>
        </div>

        <div class="col-xs-2 col-lg-2 col-md-2 col-xm-2">
            <button class="btn btn-outline-primary" (click)="doReset()">Limpar</button>
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">
            <h4>Resultados:</h4>
        </div>
    </div>
</div>