
<hr *ngIf="product" class="mb-5"/>

<app-filter [data]="products" (changeFilter)="changeFilter($event)" *ngIf="!product"></app-filter>

<div class="container" *ngIf="products && products.length > 0">
    <!-- Lista de produtos -->
    <div class="row" *ngIf="!product">
        <div *ngFor="let product of products" class="col-md-3 mb-5">
            <app-produto [produto]="product" (doDetail)="doDetail($event)"></app-produto>
        </div>
    </div>
    <!-- Final lista de produtos -->

    <!-- Detalhes do produto -->
    <div class="row" *ngIf="product">
        <div class="col-12">
            <app-produto [produto]="product" inDetail="true"></app-produto>
        </div>
    </div>
    <!-- Final detalhes do produto -->

    <div class="row mt-5 mb-5">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-outline-light" *ngIf="!product">Próxima Página</button>
            <button class="btn btn-outline-light" *ngIf="product" (click)="back()">Voltar</button>
        </div>
    </div>
</div>

<div class="container" *ngIf="!products">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
</div>

<div class="container" *ngIf="products && products.length === 0">
    <div class="d-flex justify-content-center">
        <p>Desculpe, não encontramos resultados para sua busca.</p>
    </div>
</div>