@import "./../../../assets/scss/bootstrap-overrides";

.produto {
    min-height: 350px;
    position: unset;
    height: 100%;
}

.imagem-produto {
    width: 100%;
    height: 200px;
    background-position: top;
    background-size: cover;
}

.tipo {
    color: $light;
}

.disponibilidade-texto {
    color: $light;
}

.produto-titulo {
}

.starts-detail {
    margin-left: -5px;
}
.circulo-disponibilidade {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circulo-disponibilidade.success {
    background-color: $secondary;
}

.circulo-disponibilidade.warning {
    background-color: $danger;
}
